<div class="container">
    <div class="d-flex justify-content-center align-items-center">

<!-- Botão Planejamento -->
<button class="btn notification-btn btn-planejamento" data-tipo="Plano de Aquisição" data-msg="Boas Notícias!!😀 Você foi contemplado no Plano de Aquisição nº 123456. Previsão de aquisição: 09/11/2024" data-date="24/09/2024" data-bs-toggle="modal" data-bs-target="#notificationModal">
    <i class="bi bi-calendar3"></i>
    <span class="badge-notification">1</span>
</button>

<!-- Botão Pagamento -->
<button class="btn notification-btn btn-pagamento" data-tipo="Plano de Distribuição" data-msg="Temos Novidades!!🎉 Você foi contemplado no Plano de Distribuição nº 123456. Previsão de Envio ao Almoxarifado: 09/11/2024" data-date="24/09/2024" data-bs-toggle="modal" data-bs-target="#notificationModal">
    <i class="bi bi-credit-card"></i>
    <span class="badge-notification">1</span>
</button>

<!-- Botão Transporte -->
<button class="btn notification-btn btn-transporte" data-tipo="Produto a Caminho" data-msg="Estamos quase lá 🚚. A entrega do seu EPI está em andamento. Previsão de Chegada: 09/11/2025" data-date="24/09/2024" data-bs-toggle="modal" data-bs-target="#notificationModal">
    <i class="bi bi-truck"></i>
    <span class="badge-notification">2</span>
</button>

<!-- Botão Geral/Global -->
<button class="btn notification-btn btn-global" data-tipo="Geral" data-msg="Seu EPI foi classificado como entregue ✅. Caso não tenha recebido realize contato com o almoxarifado" data-date="24/09/2024" data-bs-toggle="modal" data-bs-target="#notificationModal">
    <i class="bi bi-globe"></i>
    <span class="badge-notification">1</span>
</button>

    </div>
</div>
