{% extends 'base.html' %}
{% load static %}
{% load filters %}

{% block title %}Home{% endblock %}


{% block own_style %}
<link rel="stylesheet" href="{% static 'css/usuarios_css/listar_usuarios_style.css' %}">
{% endblock %}
{% block max-title %}MEUS DADOS{% endblock%}
{% block content %}
<div class="card">
    <div class="card-body">
      <h5 class="card-title">
        LISTA DE Militares
        <span>| Selecione abaixo o militar desejado</span>
      </h5>
  
      <!-- Default Tabs -->
      <ul class="nav nav-tabs d-flex" id="myTabjustified" role="tablist">
        <li class="nav-item flex-fill" role="presentation">
          <button class="nav-link w-100 active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-justified" type="button" role="tab" aria-controls="home" aria-selected="true">Militares Cadastrados</button>
        </li>
  
      </ul>
      <div class="tab-content pt-2" id="myTabjustifiedContent">
        <div class="tab-pane fade show active" id="home-justified" role="tabpanel" aria-labelledby="home-tab">
          <div class="row align-items-top">
            <div class="col-xxl-12 col-md-12">
              <div class="card">
                <div class="card-body">
                  <!-- Tabela de Militares -->
                  <table id="main-table_edit" class="table table-striped table-sm table-dot datatable">
                    <thead>
                        <tr>
                            <th scope="col" class="rot-info rot-sm">Nome</th>
                            <th scope="col" class="rot-info rot-sm">Nº</th>
                            <th scope="col" class="rot-info rot-sm">Post/Grad</th>
                            <th scope="col" class="rot-info rot-sm">Unidade</th>
                            <th scope="col" class="rot-info rot-sm">Prioridade</th>
                            <th scope="col" class="rot-info rot-sm"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for usuario in usuarios %}
                        <tr>
                            <td class="rot-info rot-sm">{{usuario.first_name}} {{usuario.last_name}}</td>
                            <td class="rot-info rot-sm">{{usuario.numbm}}</td>
                            <td class="rot-info rot-sm">{{usuario.postgrad}}</td>
                            <td class="rot-info rot-sm">{{usuario.unid_princ}}</td>
                            <td class="rot-info rot-sm d-flex justify-content-center">{{usuario.priorit}}</td>
                            <td>
                              <!-- Botão para apagar um registro-->
                              <a 
                              href="#" 
                              class="btn btn-danger btn-sm" 
                              data-bs-toggle="modal" 
                              data-bs-target="#modalDeleteMil" 
                              data-bs-militar="{{usuario.first_name}}" 
                              >
                              <i class="ri-delete-bin-6-line"></i></a>                   
                              <!-- Botão para editar um registro-->
                              <a 
                              href="#" 
                              class="btn btn-primary btn-sm"
                              data-bs-toggle="modal"
                              data-bs-target="#editMilitar"
                              data-firstname="{{usuario.first_name}}"
                              data-lastname="{{usuario.last_name}}"
                              data-emailfunc="{{usuario.emailfunc}}"
                              data-cargo="{{usuario.cargo}}"
                              data-numbm="{{usuario.numbm}}"
                              data-postgrad="{{usuario.postgrad}}"
                              data-dateinclude="{{usuario.date_include}}"
                              data-timeservicedays="{{usuario.time_service_days}}"
                              data-status="{{usuario.status}}"
                              data-sitfunc="{{usuario.sitfunc}}"
                              data-gto="{{usuario.gto}}"
                              data-ativesp="{{usuario.ativ_esp}}"
                              data-listativesp="{{usuario.list_ativ_esp}}"
                              data-cob="{{usuario.cob}}"
                              data-unidlot="{{usuario.unid_lot}}"
                              data-unidprinc="{{usuario.unid_princ}}"
                              data-sexo="{{usuario.sexo}}"
                              data-priori="{{usuario.priori}}"
                              >
                              <i class="ri-edit-box-line"></i></a>    
                              <!-- Botão para visualizar um registro -->
                              <a 
                              href="#" 
                              class="btn btn-success btn-sm"
                              data-bs-toggle="modal"
                              data-bs-target="#editMilitar"
                              data-cargo="{{usuario.cargo}}"
                              data-numbm="{{usuario.numbm}}"
                              data-firstname="{{usuario.first_name}}"
                              data-lastname="{{usuario.last_name}}"
                              data-emailfunc="{{usuario.emailfunc}}"
                              data-postgrad="{{usuario.postgrad}}"
                              data-dateinclude="{{usuario.date_include}}"
                              data-timeservicedays="{{usuario.time_service_days}}"
                              data-status="{{usuario.status}}"
                              data-sitfunc="{{usuario.sitfunc}}"
                              data-gto="{{usuario.gto}}"
                              data-ativesp="{{usuario.ativ_esp}}"
                              data-listativesp="{{usuario.list_ativ_esp}}"
                              data-cob="{{usuario.cob}}"
                              data-unidlot="{{usuario.unid_lot}}"
                              data-unidprinc="{{usuario.unid_princ}}"
                              data-sexo="{{usuario.sexo}}"
                              data-priori="{{usuario.priori}}"
                              >
                              <i class="bi bi-eye"></i></a>
                            </td>             
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                
                  <!-- End Table with stripped rows -->
                </div>
              </div>
            </div>
          </div>
        </div>
  
      </div><!-- End Default Tabs -->
  
    </div>
  </div>
  {% include 'partials_users/modal_edit_user.html' %}
  {% include 'partials_users/modal_delete_user.html' %}

  <script>

    document.addEventListener('DOMContentLoaded', function () {
      // Funções para o campo de GTO
      const tagsInputGTO = document.getElementById('tags-input-gto');
      const tagsSelectGTO = document.getElementById('compgto');
      const gtosOwnInput = document.getElementById('gtos_own');
      
      let gtoList = [];
      
      // Função para carregar os GTOS iniciais
      function loadInitialGtoTags(gtos_user) {
          if (gtos_user) {
              const gtos = gtos_user.split(';'); // Separar pelos ';'
              gtos.forEach(function (gto) {
                  gto = gto.trim();
                  if (gto && !gtoTagExists(gto)) {
                      gtoList.push(gto);
                      renderGtoTag(gto);
                  }
              });
              updateGtoOwnInput();
          }
      }
      
      // Adicionar a tag ao selecionar no select
      tagsSelectGTO.addEventListener('change', function () {
          const selectedGto = tagsSelectGTO.value.trim();
          if (selectedGto && !gtoTagExists(selectedGto)) {
              addGtoTag(selectedGto);
              tagsSelectGTO.value = ''; // Resetar o select após a seleção
          }
      });
      
      function addGtoTag(text) {
          gtoList.push(text);
          renderGtoTag(text);
          updateGtoOwnInput();
      }
      
      function renderGtoTag(text) {
          const tagElement = document.createElement('span');
          tagElement.classList.add('tag');
          tagElement.textContent = text;
      
          tagElement.style.fontSize = '0.8em';
      
          const removeTagElement = document.createElement('span');
          removeTagElement.classList.add('remove-tag');
          removeTagElement.textContent = 'x';
          removeTagElement.addEventListener('click', function () {
              removeGtoTag(text);
              tagsInputGTO.removeChild(tagElement);
          });
      
          tagElement.appendChild(removeTagElement);
          tagsInputGTO.appendChild(tagElement);
      }
      
      function removeGtoTag(text) {
          const index = gtoList.indexOf(text);
          if (index > -1) {
              gtoList.splice(index, 1);
              updateGtoOwnInput();
          }
      }
      
      function updateGtoOwnInput() {
          gtosOwnInput.value = gtoList.join(';');
      }
      
      function gtoTagExists(text) {
          return gtoList.includes(text);
      }
      
      // Carregar os GTOS iniciais do input oculto
      const gtos_user = gtosOwnInput.value;
      if (gtos_user) {
          loadInitialGtoTags(gtos_user);
      }
      
      // Funções para o campo de Atividades Especializadas
      const checkbox = document.getElementById('atividadeEspecializadaCheckbox');
      const atividadeSelect = document.getElementById('atividadeSelect');
      const docDesignInput = document.getElementById('docDesignInput');
      const addAtividadeBtn = document.getElementById('addAtividadeBtn');
      const tagsAtividadeInput = document.getElementById('tags-atividade');
      const expOwnInput = document.getElementById('exp_own');
      
      let atividadeList = [];
      
      // Função para carregar as atividades iniciais
      function loadInitialTags(ativ_esps) {
          const atividades = ativ_esps.split(';');
          atividades.forEach(function (atividade) {
              if (atividade.trim() && !atividadeTagExists(atividade)) {
                  atividadeList.push(atividade); // Adiciona à lista
                  renderAtividadeTag(atividade);
              }
          });
          updateExpOwnInput(); // Atualiza o input após carregar as tags
      }
      
      // Ativar/desativar select, input e botão baseado no checkbox
      checkbox.addEventListener('change', function () {
          const isChecked = checkbox.checked;
          atividadeSelect.disabled = !isChecked;
          docDesignInput.disabled = !isChecked;
          addAtividadeBtn.disabled = !isChecked;
      });
      
      // Adicionar a atividade especializada ao clicar no botão "+"
      addAtividadeBtn.addEventListener('click', function () {
          const atividade = atividadeSelect.value.trim();
          const docDesign = docDesignInput.value.trim();
      
          if (!atividade || !docDesign) {
              alert('Por favor, preencha ambos os campos.');
              return;
          }
      
          const tagText = `${atividade} - ${docDesign}`;
          addAtividadeTag(tagText);
      
          // Limpar os inputs
          atividadeSelect.value = '';
          docDesignInput.value = '';
      });
      
      function addAtividadeTag(text) {
          if (atividadeTagExists(text)) return;
      
          atividadeList.push(text);
          renderAtividadeTag(text);
          updateExpOwnInput();
      }
      
      function renderAtividadeTag(text) {
          const tagElement = document.createElement('span');
          tagElement.classList.add('tag');
          tagElement.textContent = text;
      
          tagElement.style.fontSize = '0.8em';
      
          const removeTagElement = document.createElement('span');
          removeTagElement.classList.add('remove-tag');
          removeTagElement.textContent = 'x';
          removeTagElement.addEventListener('click', function () {
              removeAtividadeTag(text);
              tagsAtividadeInput.removeChild(tagElement);
          });
      
          tagElement.appendChild(removeTagElement);
          tagsAtividadeInput.appendChild(tagElement);
      }
      
      function removeAtividadeTag(text) {
          const index = atividadeList.indexOf(text);
          if (index > -1) {
              atividadeList.splice(index, 1);
          }
          updateExpOwnInput();
      }
      
      function updateExpOwnInput() {
          expOwnInput.value = atividadeList.join(';');
      }
      
      function atividadeTagExists(text) {
          return atividadeList.includes(text);
      }
      
      // Carregar as atividades especializadas iniciais (simulação)
      const ativ_esps = "{{ user.list_ativ_esp|escapejs }}";  // Receba essa variável do backend Django
      
      if (ativ_esps && ativ_esps !== "None") {
          loadInitialTags(ativ_esps);
      }
  });
  </script>
{% endblock %}

